.container
 .row
  .col-xs-12.col-sm-6.col-md-8 
   %h1.first_header Welcome Everybody
   %p.paragraph Hi everybody, I am Arjun Ghimire. I design this page for those who is new in web developing and want to develop static web page and blog. This site is really good for those who don't have any knowledge about web developing. You can learn ground level of HTML 5 and CSS 3 from this site. 
  .col-xs-6.col-md-4 
   .panel.panel-danger
    .panel-heading
     %h3.panel-title Latest Posts of HTML 5
    -@articles.each do |article|
     .panel-body= link_to article.title,article_path(article)
   .link_page= link_to "See more",articles_path
   %br/
   .panel.panel-success
    .panel-heading
     %h3.panel-title Latest Posts of CSS
    -@posts.each do |post|
     .panel-body= link_to post.title,post_path(post)
   .link_page= link_to "See more",posts_path
  
