.container
 .row
  .col-xs-12.col-sm-6.col-md-8 
   %h1.first_header About Me
   %p.paragraph Hi I am Arjun Ghimire. I'm a designer & developer living in Butwal, Rupandehi. I have developed lot of websites from past 2 years. I have working experience with HTML 5, CSS 3, PHP, JavaScript, jQuery, Ajax, MySQL, SQLite and Ruby on rails. If you like to see my web project, you can find all my web project in my GitHub account.
  .col-xs-6.col-md-4 
   .panel.panel-info
    .panel-heading
     %h3.panel-title Follow Me 
    .panel-body 
     %p
     <a href="https://www.facebook.com/arjun.ghimire.1044" target="new">Facebook</a>
     %p
     <a href="https://github.com/Arjunghimire" target="new">Github</a>
     %p
     <a href="https://twitter.com/ArjunRazzGhimir" target="new">Twitter</a>
