.container
{
	font-family: Raleway;
}
.row
{
	h1.first_header
	{
	  font-family: Raleway;
	}
	.paragraph
	{
		font-family: Raleway;
	    color:#716D6D;
		font-size: 20px;
	}

    h4.fourth_header
    {
      color:#716D6D;
	  font-family: Raleway;
    }
}
.col-xs-6.col-md-4 
{
  .panel-body
  {
    font-family: Raleway;
  }

}

